@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?m6hlmp');
    src:    url('fonts/icomoon.eot?m6hlmp#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?m6hlmp') format('truetype'),
        url('fonts/icomoon.woff?m6hlmp') format('woff'),
        url('fonts/icomoon.svg?m6hlmp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e971";
}
.icon-key:before {
    content: "\e98d";
}
.icon-notification:before {
    content: "\ea08";
}
.icon-loop2:before {
    content: "\ea2e";
}
.icon-arrow-right:before {
    content: "\e900";
}

